{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h1>Welcome to the Meeting Planner!</h1>
<p>
    Hello from the <a href="http://www.abukhleif.com">Other World</a>!
</p>
<p>
    <a href="{% url 'rooms' %}">Rooms</a>
</p>
<h2>Meetings:</h2>
<p>
    You have <strong>{{number_of_meetings}}</strong> scheduled meeting(s)!
<ul>
    {% for meeting in meetings %}
    <li>
        <!-- <a href="/meetings/{{meeting.id}}">-->
        <!-- with named URLs you can safely update the URL without worrying about the templates!-->
        <a href="{% url 'detail' meeting.id %}">
            {{meeting.title}}
        </a>
    </li>
    {% endfor %}
</ul>
Or, <a href="{% url 'create' %}">Create a new meeting?</a>
</p>
{% endblock %}